.formulario {
  margin-top: 5%;
}

.page-header{
  border: none;
}

.theme{
  display:flex;
  justify-content: end;
  background-color: transparent;
  border:none;
  margin-left: 15px;
}

/* Tema Dark */
.dark-mode  {
  background-color: rgb(24, 26, 27) ;
  
}

.dark-mode  .jumbotron {
 background-color: #222426!important ;
 color:white;
} 

.dark-mode  .form-control{
  background-color: black;
  color:white;

}

.dark-mode  .form-control::placeholder{
  color:#cccccc;
}

.dark-mode  .form-text{
  color:white;
}

/* Tema Dark */









  input-group input-group-lg{
    background-color: black;
  }




 
